.Main {
    /*  background-color: red;*/
    width: 1000px;
    margin-left: 28%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.card {
    background-color: rgba(255, 255, 0, 0);
    padding: 3px 3px 3px 3px;
    border: none;

}

.example-card {
    padding-top: 0px;

}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

img {
    height: 200px;
}

.bu {
    width: 100%;
    color: green;
}

.bu:hover {
    transition: 1;
    background-color: turquoise;
}

.buB {
    transition: 1;
    width: 100%;
    background-color: aqua;
    color: aliceblue;

}

.buB:hover {
    background-color: rgb(119, 179, 179);
}

.title {
    text-align: center;
    color: green;
    font-family: fantasy;
}

.buEx {
    float: left;

}

.buDel {
    float: right;

}

mat-card-header {
    background-color: yellow;

}

.singlerow {
    /* background-color: green;*/
}

.row {
    /*background-color: red;*/
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
}