<div id="CV___1">

    <svg class="Path_1">
        <linearGradient spreadMethod="pad" id="LinearGradientFill1" x1="0.5" x2="0.5" y1="0" y2="1">
            <stop offset="0" stop-color="#10b8f6" stop-opacity="1"></stop>
            <stop offset="0.33799999952316284" stop-color="#16ddeb" stop-opacity="1"></stop>
            <stop offset="0.5960000157356262" stop-color="#0baf73" stop-opacity="1"></stop>
            <stop offset="0.9139999747276306" stop-color="#15d7db" stop-opacity="1"></stop>
            <stop offset="1" stop-color="#085c7b" stop-opacity="1"></stop>
        </linearGradient>
        <path id="Path_1" fill="url(#LinearGradientFill1)" style=" fill: url(#LinearGradientFill1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;"
            d="M 31.56439971923828 561.6282958984375 L 83.9964599609375 595.743896484375 C 83.9964599609375 595.743896484375 26.90377426147461 696.5401000976563 54.86752319335938 699.6414794921875 C 82.83127593994141 702.7428588867188 30.94562149047852 841.9393920898438 54.86752319335938 841.021728515625 C 78.78943634033203 840.104248046875 33.70340347290039 925.4390258789063 54.86752319335938 926.3565063476563 C 76.03165435791016 927.2742919921875 24.32354545593262 1014.444274902344 51.21175765991211 1005.268493652344 C 78.0999755859375 996.0927124023438 19.49744606018066 1121.801025390625 51.21175765991211 1120.883544921875 C 82.92606353759766 1119.965942382813 27.49841499328613 1285.359497070313 54.86752319335938 1277.101196289063 C 82.23663330078125 1268.843139648438 19.91456413269043 1434.924926757813 54.86752319335938 1428.501953125 C 89.82048797607422 1422.078735351563 32.59682846069336 1598.25390625 32.59682846069336 1598.25390625 L 31.56439971923828 561.6282958984375 Z">
        </path>
    </svg>
    <div id="Group_1">
        <svg class="Path_3">
            <path id="Path_3" style=" fill: rgba(255, 255, 255, 0);
    stroke: rgb(16, 184, 246);
    stroke-width: 50px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;"
                d="M 0 0 L 790.61962890625 0 L 790.61962890625 1118.059936523438 L 0 1118.059936523438 L 0 0 Z">
            </path>
        </svg>
        <svg class="Path_2">
            <linearGradient spreadMethod="pad" id="LinearGradientFill2" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#10b8f6" stop-opacity="1"></stop>
                <stop offset="0.7599999904632568" stop-color="#00ed4f" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#085c7b" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_2" fill="url(#LinearGradientFill2)" style="fill: url(#LinearGradientFill2);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;"
                d="M 598.8505249023438 143.6176605224609 C 598.8505249023438 143.6176605224609 626.1493530273438 44.97531509399414 712.2459716796875 63.47074127197266 C 798.342529296875 81.96616363525391 829.841064453125 162.1130676269531 888.6388549804688 103.5441741943359 C 947.4365234375 44.97528839111328 1077.631225585938 103.5441741943359 1140.628662109375 103.5441741943359 C 1203.626220703125 103.5441741943359 1239.32470703125 140.5350646972656 1193.126708984375 103.5441741943359 C 1146.928588867188 66.55329895019531 1258.22412109375 32.64500045776367 1258.22412109375 32.64500045776367 L 563.1519165039063 14.14954566955566 L 598.8505249023438 143.6176605224609 Z">
            </path>
        </svg>
    </div>
    <svg class="Ellipse_1">
        <linearGradient spreadMethod="pad" id="LinearGradientFill3" x1="0.5" x2="0.5" y1="0" y2="1">
            <stop offset="0" stop-color="#10e7f6" stop-opacity="1"></stop>
            <stop offset="0.28445300459861755" stop-color="#15bbf0" stop-opacity="1"></stop>
            <stop offset="0.7933499813079834" stop-color="#51e1a2" stop-opacity="1"></stop>
            <stop offset="1" stop-color="#19beea" stop-opacity="1"></stop>
            <stop offset="1" stop-color="#087b68" stop-opacity="1"></stop>
        </linearGradient>
        <ellipse id="Ellipse_1" fill="url(#LinearGradientFill3)" style=" fill: url(#LinearGradientFill3);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;" rx="116.5" ry="116" cx="116.5" cy="116">
        </ellipse>
    </svg>
    <div id="Mask_Group_1">
        <img [src]="InfoPersonal.image" alt="" style="border-radius: 50%;
                    margin-top: 20px;
                    margin-left: 10px;
                    width: 140px;
                    height: 140px;">
    </div>

    <div id="EL_MEHDI_JBILOU">
        <span>{{InfoPersonal.firstname}} {{InfoPersonal.lastname}}</span>
    </div>
    <div id="Group_19">
        <svg class="Path_5">
            <linearGradient spreadMethod="pad" id="LinearGradientFill4" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#02b6f8" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0f9" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_5" fill="url(#LinearGradientFill4)" style="fill: url(#LinearGradientFill4);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;"
                d="M 0 0 L 18.38226318359375 -69.56703948974609 L 18.38226318359375 529.2068481445313 L 0 529.2068481445313 C 0 529.2068481445313 0 122.1246719360352 0 -27.56877517700195 C 0 -177.2622375488281 0 -69.56703948974609 0 -69.56703948974609 Z">
            </path>
        </svg>
        <svg class="Path_4">
            <linearGradient spreadMethod="pad" id="LinearGradientFill5" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#0e77ef" stop-opacity="1"></stop>
                <stop offset="0" stop-color="#09b3fc" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#10ffa8" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#670c0c" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_4" fill="url(#LinearGradientFill5)" style=" filter: drop-shadow(20px 20px 20px rgba(28, 255, 187, 1));

                fill: url(#LinearGradientFill5);
                stroke: rgb(112, 112, 112);
                stroke-width: 1px;
                stroke-linejoin: miter;
                stroke-linecap: butt;
                stroke-miterlimit: 4;
                shape-rendering: auto;"
                d="M 66.08704376220703 132.8206634521484 C 66.08704376220703 132.8206634521484 49.96828079223633 -1.847772598266602 8.056116104125977 51.61545562744141 C -33.85604476928711 105.0786895751953 99.29840850830078 67.32245635986328 142.5328216552734 11.00603485107422 C 185.7672119140625 -45.31038665771484 66.08704376220703 132.8206634521484 66.08704376220703 132.8206634521484 Z">
            </path>
        </svg>
        <svg class="Path_7">
            <linearGradient spreadMethod="pad" id="LinearGradientFill6" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#0e77ef" stop-opacity="1"></stop>
                <stop offset="0" stop-color="#09b3fc" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#10ffa8" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#670c0c" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_7" fill="url(#LinearGradientFill16)" style=" filter: drop-shadow(20px 20px 20px rgba(28, 255, 187, 1));
    fill: url(#LinearGradientFill6);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;"
                d="M 66.08704376220703 132.8206634521484 C 66.08704376220703 132.8206634521484 49.96828079223633 -1.847772598266602 8.056116104125977 51.61545562744141 C -33.85604476928711 105.0786895751953 99.29840850830078 67.32245635986328 142.5328216552734 11.00603485107422 C 185.7672119140625 -45.31038665771484 66.08704376220703 132.8206634521484 66.08704376220703 132.8206634521484 Z">
            </path>
        </svg>
    </div>
    <div class="baseline_phone_black_48dp">
        <img style="width: 16px;height: 16px;margin-top:3px ;"
            src="https://cdn3.iconfinder.com/data/icons/communication-1/100/phone-512.png" alt="">
    </div>
    <div class="NoPath___Copie">
        <img style="width: 18px;height: 18px;margin-top:5px ;"
            src="https://cdn2.iconfinder.com/data/icons/spa-solid-icons-1/48/25-512.png" alt="">
    </div>
    <div class="NoPath___Copie__2_">
        <img style="width: 18px;height: 18px;margin-top:5px ;"
            src="https://cdn0.iconfinder.com/data/icons/buntu-mobile/100/gps_glyph_convert-512.png" alt="">
    </div>
    <div class="NoPath___Copie__4_">
        <img style="width: 18px;height: 18px; margin-top:5px ;"
            src="https://cdn1.iconfinder.com/data/icons/cv-resume-1/32/3-512.png" alt="">
    </div>


    <div id="_212_645_342290">
        <span>+{{InfoPersonal.nbrtele}}</span>
    </div>

    <div id="ID21_ANS">
        <span>21 ANS</span>
    </div>

    <div id="Lot_essalam_N_33_J_sebah_Skhir">
        <span>{{InfoPersonal.adress}}</span>
    </div>
    <div id="Elmehdijbilou_gmail_com">
        <span>{{InfoPersonal.email}}</span>
    </div>

    <div id="Group_2">
        <svg class="Path_6">
            <linearGradient spreadMethod="pad" id="LinearGradientFill7" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6" fill="url(#LinearGradientFill7)" style=" fill: url(#LinearGradientFill7);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;"
                d="M 0 0 L 97.80249786376953 0 L 97.80249786376953 6.944091796875 L 48.97861480712891 4.266281604766846 L 0 6.944091796875 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4">
            <linearGradient spreadMethod="pad" id="LinearGradientFill8" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4" fill="url(#LinearGradientFill8)" style=" fill: url(#LinearGradientFill8);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;" rx="20" ry="24.4149169921875" cx="20" cy="24.4149169921875">
            </ellipse>
        </svg>
        <div id="Formation">
            <span>Formation</span>
        </div>
    </div>
    <div id="Group_20">
        <svg class="Path_6_A1_Path_8">
            <linearGradient spreadMethod="pad" id="LinearGradientFill9" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6_A1_Path_8" fill="url(#LinearGradientFill9)" style=" fill: url(#LinearGradientFill9);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;"
                d="M 0 0 L 97.80249786376953 0 L 97.80249786376953 6.944091796875 L 48.97861480712891 4.266281604766846 L 0 6.944091796875 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4_A1_Ellipse_6">
            <linearGradient spreadMethod="pad" id="LinearGradientFill10" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4_A1_Ellipse_6" fill="url(#LinearGradientFill10)" style=" fill: url(#LinearGradientFill10);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;" rx="20" ry="24.4149169921875" cx="20" cy="24.4149169921875">
            </ellipse>
        </svg>
        <div id="competences">
            <span>competences</span>
        </div>
    </div>
    <div id="Group_21">
        <svg class="Path_6_A1_Path_9" style=" fill: url(#LinearGradientFill11);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;">
            <linearGradient spreadMethod="pad" id="LinearGradientFill11" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6_A1_Path_9" fill="url(#LinearGradientFill11)"
                d="M 0 0 L 97.80249786376953 0 L 97.80249786376953 6.944091796875 L 48.97861480712891 4.266281604766846 L 0 6.944091796875 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4_A1_Ellipse_7">
            <linearGradient spreadMethod="pad" id="LinearGradientFill12" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4_A1_Ellipse_7" fill="url(#LinearGradientFill12)" style="fill: url(#LinearGradientFill12);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;" rx="20" ry="24.4149169921875" cx="20" cy="24.4149169921875">
            </ellipse>
        </svg>
        <div id="loisIrs">
            <span>loisIrs</span>
        </div>
    </div>
    <div id="Group_22">
        <svg class="Path_6_A1_Path_10" style=" fill: url(#LinearGradientFill13);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;">
            <linearGradient spreadMethod="pad" id="LinearGradientFill13" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6_A1_Path_10" fill="url(#LinearGradientFill13)"
                d="M 0 0 L 97.80249786376953 0 L 97.80249786376953 6.944091796875 L 48.97861480712891 4.266281604766846 L 0 6.944091796875 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4_A1_Ellipse_8">
            <linearGradient spreadMethod="pad" id="LinearGradientFill14" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4_A1_Ellipse_8" fill="url(#LinearGradientFill14)" style=" fill: url(#LinearGradientFill14);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;" rx="20" ry="24.4149169921875" cx="20" cy="24.4149169921875">
            </ellipse>
        </svg>
        <div id="Langues">
            <span>Langues</span>
        </div>
    </div>



    <div id="formationHolder">
        <div id="elementFormation" *ngFor="let item of Formations; let i=index;let ilast=last;">
            <div id="Group_7">
                <svg class="Polygon_1">
                    <linearGradient spreadMethod="pad" id="LinearGradientFill15" x1="0.24747975170612335" x2="0.5"
                        y1="0.7099449634552002" y2="1">
                        <stop offset="0" stop-color="#5dff78" stop-opacity="1"></stop>
                        <stop offset="1" stop-color="#0ef3db" stop-opacity="1"></stop>
                    </linearGradient>
                    <path id="Polygon_1" fill="url(#LinearGradientFill15)" style="  fill: url(#LinearGradientFill15);
                stroke: rgb(112, 112, 112);
                stroke-width: 1px;
                stroke-linejoin: miter;
                stroke-linecap: butt;
                stroke-miterlimit: 4;
                shape-rendering: auto;"
                        d="M 12.38355159759521 0 L 24.76710319519043 27.79929161071777 L 0 27.79929161071777 Z">
                    </path>
                </svg>
                <svg class="Polygon_2">
                    <path id="Polygon_2" fill="rgba(255,255,255,1)"
                        d="M 6.997210025787354 0 L 13.99442100524902 38.51438140869141 L 0 38.51438140869141 Z">
                    </path>
                </svg>
            </div>
            <div id="Baccalaur_at_en_science_physiq">
                <span>{{Formations[i].formation}} </span><span style="color:rgba(181,12,12,1);">
                    {{Formations[i].yearsBegun}}/{{Formations[i].yearsLast}}</span>
            </div>
        </div>

    </div>
    <div id="competenceHolder">
        <div id="elementCompetence" *ngFor="let item of Competences; let i=index;let ilast=last;">
            <div id="Group_7">
                <svg class="Polygon_1">
                    <linearGradient spreadMethod="pad" id="LinearGradientFill15" x1="0.24747975170612335" x2="0.5"
                        y1="0.7099449634552002" y2="1">
                        <stop offset="0" stop-color="#5dff78" stop-opacity="1"></stop>
                        <stop offset="1" stop-color="#0ef3db" stop-opacity="1"></stop>
                    </linearGradient>
                    <path id="Polygon_1" fill="url(#LinearGradientFill15)" style="  fill: url(#LinearGradientFill15);
            stroke: rgb(112, 112, 112);
            stroke-width: 1px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;"
                        d="M 12.38355159759521 0 L 24.76710319519043 27.79929161071777 L 0 27.79929161071777 Z">
                    </path>
                </svg>
                <svg class="Polygon_2">
                    <path id="Polygon_2" fill="rgba(255,255,255,1)"
                        d="M 6.997210025787354 0 L 13.99442100524902 38.51438140869141 L 0 38.51438140869141 Z">
                    </path>
                </svg>
            </div>
            <div id="Baccalaur_at_en_science_physiq">
                <span> {{Competences[i].competence}}</span>
            </div>
        </div>
    </div>
    <div id="languageHolder">
        <div id="elementLanguage" *ngFor="let item of Languages; let i=index;let ilast=last;">
            <div id="Group_16">
                <div id="ARABE">
                    <span>{{Languages[i].language}}</span>
                </div>
                <div class="Group_15">
                    <svg class="Rectangle_1">
                        <linearGradient spreadMethod="pad" attr.id="LinearGradientFill24{{i}}" x1="0.012973351404070854"
                            x2="1" y1="0.5" y2="0.5">
                            <stop [attr.offset]="Languages[i].percentage/100" stop-color="#20f200" stop-opacity="1">
                            </stop>
                            <stop offset="0" stop-color="#34db1a" stop-opacity="1"></stop>
                            <stop offset="0" stop-color="#808080" stop-opacity="1"></stop>
                        </linearGradient>
                        <rect class="Rectangle_1_rect" style="
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;" rx="11.483051300048828" ry="11.483051300048828" x="0" y="0" width="193.619" height="22.966"
                            attr.fill=" url(#LinearGradientFill24{{i}})">
                        </rect>
                    </svg>
                    <div id="ID95_">
                        <span>{{Languages[i].percentage}}%</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="leisureHolder">
        <div id="elementLeisur" *ngFor="let item of Leisures; let i=index;let ilast=last;">
            <div id="Group_7">
                <svg class="Polygon_1">
                    <linearGradient spreadMethod="pad" id="LinearGradientFill15" x1="0.24747975170612335" x2="0.5"
                        y1="0.7099449634552002" y2="1">
                        <stop offset="0" stop-color="#5dff78" stop-opacity="1"></stop>
                        <stop offset="1" stop-color="#0ef3db" stop-opacity="1"></stop>
                    </linearGradient>
                    <path id="Polygon_1" fill="url(#LinearGradientFill15)" style="  fill: url(#LinearGradientFill15);
                stroke: rgb(112, 112, 112);
                stroke-width: 1px;
                stroke-linejoin: miter;
                stroke-linecap: butt;
                stroke-miterlimit: 4;
                shape-rendering: auto;"
                        d="M 12.38355159759521 0 L 24.76710319519043 27.79929161071777 L 0 27.79929161071777 Z">
                    </path>
                </svg>
                <svg class="Polygon_2">
                    <path id="Polygon_2" fill="rgba(255,255,255,1)"
                        d="M 6.997210025787354 0 L 13.99442100524902 38.51438140869141 L 0 38.51438140869141 Z">
                    </path>
                </svg>
            </div>
            <div id="Baccalaur_at_en_science_physiq">
                <span>{{Leisures[i].leisur}}</span>
            </div>
        </div>
    </div>











</div>