<div id="CV_exemple">
    <svg class="Path_1" viewBox="31.564 561.628 195.917 2910.386">
        <linearGradient spreadMethod="pad" id="LinearGradientFill1" x1="0.5" x2="0.5" y1="0" y2="1">
            <stop offset="0" stop-color="#10b8f6" stop-opacity="1"></stop>
            <stop offset="0.33799999952316284" stop-color="#16ddeb" stop-opacity="1"></stop>
            <stop offset="0.5960000157356262" stop-color="#0baf73" stop-opacity="1"></stop>
            <stop offset="0.9139999747276306" stop-color="#15d7db" stop-opacity="1"></stop>
            <stop offset="1" stop-color="#085c7b" stop-opacity="1"></stop>
        </linearGradient>
        <path id="Path_1"
            d="M 31.56439781188965 561.6282958984375 L 227.4811706542969 657.409912109375 C 227.4811706542969 657.409912109375 14.14958381652832 940.4009399414063 118.6384735107422 949.1082763671875 C 223.1273651123047 957.8156127929688 29.25228881835938 1348.617797851563 118.6384735107422 1346.041748046875 C 208.024658203125 1343.465698242188 39.55696105957031 1583.047973632813 118.6384735107422 1585.624267578125 C 197.7199859619141 1588.200561523438 4.508346557617188 1832.935424804688 104.9783935546875 1807.173828125 C 205.4484405517578 1781.412231445313 -13.52476501464844 2134.345703125 104.9783935546875 2131.76953125 C 223.4815521240234 2129.193359375 16.37150573730469 2593.54541015625 118.6384735107422 2570.360107421875 C 220.9054412841797 2547.1748046875 -11.96617126464844 3013.459228515625 118.6384735107422 2995.426025390625 C 249.2431182861328 2977.392822265625 35.42215347290039 3472.0146484375 35.42215347290039 3472.0146484375 L 31.56439781188965 561.6282958984375 Z">
        </path>
    </svg>
    <div id="Group_1">
        <svg class="Path_2" viewBox="563.152 14.15 1873.4 237.712">
            <linearGradient spreadMethod="pad" id="LinearGradientFill2" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#10b8f6" stop-opacity="1"></stop>
                <stop offset="0.7599999904632568" stop-color="#00ed4f" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#085c7b" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_2"
                d="M 659.368896484375 251.8618927001953 C 659.368896484375 251.8618927001953 732.9462890625 70.74777221679688 964.9989013671875 104.7066497802734 C 1197.051513671875 138.66552734375 1281.948364257813 285.8207397460938 1440.423461914063 178.2842407226563 C 1598.898559570313 70.74772644042969 1949.807006835938 178.2842407226563 2119.6015625 178.2842407226563 C 2289.39599609375 178.2842407226563 2385.613037109375 246.2020416259766 2261.09716796875 178.2842407226563 C 2136.581298828125 110.3664398193359 2436.5517578125 48.10847473144531 2436.5517578125 48.10847473144531 L 563.1519165039063 14.14954471588135 L 659.368896484375 251.8618927001953 Z">
            </path>
        </svg>
        <svg class="Path_3" viewBox="0 0 2480 3508">
            <path id="Path_3" d="M 0 0 L 2480 0 L 2480 3508 L 0 3508 L 0 0 Z">
            </path>
        </svg>
    </div>
    <svg class="Ellipse_1">
        <linearGradient spreadMethod="pad" id="LinearGradientFill3" x1="0.5" x2="0.5" y1="0" y2="1">
            <stop offset="0" stop-color="#10e7f6" stop-opacity="1"></stop>
            <stop offset="0.28445300459861755" stop-color="#15bbf0" stop-opacity="1"></stop>
            <stop offset="0.7933499813079834" stop-color="#51e1a2" stop-opacity="1"></stop>
            <stop offset="1" stop-color="#19beea" stop-opacity="1"></stop>
            <stop offset="1" stop-color="#087b68" stop-opacity="1"></stop>
        </linearGradient>
        <ellipse id="Ellipse_1" rx="425.5" ry="421" cx="425.5" cy="421">
        </ellipse>
    </svg>
    <div id="Group_19">
        <svg class="Path_5" viewBox="0 -107.053 34.885 2244.802">
            <linearGradient spreadMethod="pad" id="LinearGradientFill4" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#02b6f8" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0f9" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_5"
                d="M 0 25.20107841491699 L 34.8851318359375 25.20107841491699 L 34.8851318359375 2137.75 L 0 2137.75 C 0 2137.75 0 701.5133666992188 0 173.376220703125 C 0 -354.7609558105469 0 25.20107841491699 0 25.20107841491699 Z">
            </path>
        </svg>
        <svg class="Path_4" viewBox="993.379 766.592 479.013 204.284">
            <linearGradient spreadMethod="pad" id="LinearGradientFill5" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#0e77ef" stop-opacity="1"></stop>
                <stop offset="0" stop-color="#09b3fc" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#10ffa8" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#670c0c" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_4"
                d="M 1194.003784179688 970.8763427734375 C 1194.003784179688 970.8763427734375 1154.820556640625 770.60595703125 1019.855529785156 853.3263549804688 C 884.8905029296875 936.0467529296875 1302.846557617188 870.7412109375 1442.1650390625 783.6670532226563 C 1581.483520507813 696.5928955078125 1194.003784179688 970.8763427734375 1194.003784179688 970.8763427734375 Z">
            </path>
        </svg>
        <svg class="Path_7" viewBox="993.379 766.592 479.013 204.284">
            <linearGradient spreadMethod="pad" id="LinearGradientFill6" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#0e77ef" stop-opacity="1"></stop>
                <stop offset="0" stop-color="#09b3fc" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#10ffa8" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#670c0c" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_7"
                d="M 1194.003784179688 970.8763427734375 C 1194.003784179688 970.8763427734375 1154.820556640625 770.60595703125 1019.855529785156 853.3263549804688 C 884.8905029296875 936.0467529296875 1302.846557617188 870.7412109375 1442.1650390625 783.6670532226563 C 1581.483520507813 696.5928955078125 1194.003784179688 970.8763427734375 1194.003784179688 970.8763427734375 Z">
            </path>
        </svg>
    </div>
    <svg class="Ellipse_2">
        <linearGradient spreadMethod="pad" id="LinearGradientFill7" x1="0.5" x2="0.5" y1="0" y2="1">
            <stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
            <stop offset="0" stop-color="#0cf" stop-opacity="1"></stop>
            <stop offset="1" stop-color="#00fe88" stop-opacity="1"></stop>
        </linearGradient>
        <ellipse id="Ellipse_2" rx="317.5" ry="317.5" cx="317.5" cy="317.5">
        </ellipse>
    </svg>
    <div id="Mask_Group_1">
        <img [src]="InfoPersonal.image" alt="" style="border-radius: 50%;
            margin-top: 30px;
            margin-left: 8px;
            width: 500px;
            height: 500px;">
    </div>
    <div id="EL_MEHDI_JBILOU">
        <span>{{InfoPersonal.firstname}} {{InfoPersonal.lastname}}</span>
    </div>
    <svg class="baseline_phone_black_48dp">
        <pattern elementId="baseline_phone_black_48dp_A9_Rectangle_2"
            id="baseline_phone_black_48dp_A9_Rectangle_2_pattern" x="0" y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%"
                href="https://cdn3.iconfinder.com/data/icons/communication-1/100/phone-512.png"
                xlink:href="https://cdn3.iconfinder.com/data/icons/communication-1/100/phone-512.png"></image>
        </pattern>
        <rect id="baseline_phone_black_48dp" rx="35.5" ry="35.5" x="0" y="0" width="71" height="71">
        </rect>
    </svg>
    <div id="_212_645_342290">
        <span>+{{InfoPersonal.nbrtele}}</span>
    </div>
    <svg class="NoPath___Copie">
        <pattern elementId="NoPath___Copie_A9_Rectangle_4" id="NoPath___Copie_A9_Rectangle_4_pattern" x="0" y="0"
            width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%"
                href="https://cdn2.iconfinder.com/data/icons/spa-solid-icons-1/48/25-512.png"
                xlink:href="https://cdn2.iconfinder.com/data/icons/spa-solid-icons-1/48/25-512.png"></image>
        </pattern>
        <rect id="NoPath___Copie" rx="8" ry="8" x="0" y="0" width="78" height="79">
        </rect>
    </svg>
    <div id="ID21_ANS">
        <span>21 ANS</span>
    </div>
    <svg class="NoPath___Copie__2_">
        <pattern elementId="NoPath___Copie__2__A9_Rectangle_6" id="NoPath___Copie__2__A9_Rectangle_6_pattern" x="0"
            y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%"
                href="https://cdn0.iconfinder.com/data/icons/buntu-mobile/100/gps_glyph_convert-512.png"
                xlink:href="https://cdn0.iconfinder.com/data/icons/buntu-mobile/100/gps_glyph_convert-512.png"></image>
        </pattern>
        <rect id="NoPath___Copie__2_" rx="0" ry="0" x="0" y="0" width="84" height="84">
        </rect>
    </svg>
    <div id="Lot_essalam_N_33_J_sebah_Skhir">
        <span>{{InfoPersonal.adress}}</span>
    </div>
    <div id="Elmehdijbilou_gmail_com">
        <span>{{InfoPersonal.email}}</span>
    </div>
    <div id="Group_2">
        <svg class="Path_6" viewBox="0 0 321 10.5">
            <linearGradient spreadMethod="pad" id="LinearGradientFill8" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6" d="M 0 0 L 321 0 L 321 10.5 L 195.7744140625 10.5 L 0 10.5 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4">
            <linearGradient spreadMethod="pad" id="LinearGradientFill9" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4" rx="29" ry="69.5" cx="29" cy="69.5">
            </ellipse>
        </svg>
        <div id="Formation">
            <span>Formation</span>
        </div>
    </div>
    <div id="Group_4">
        <svg class="Path_6_A9_Path_8" viewBox="0 0 321 10.5">
            <linearGradient spreadMethod="pad" id="LinearGradientFill10" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6_A9_Path_8" d="M 0 0 L 321 0 L 321 10.5 L 195.7744140625 10.5 L 0 10.5 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4_A9_Ellipse_5">
            <linearGradient spreadMethod="pad" id="LinearGradientFill11" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4_A9_Ellipse_5" rx="29" ry="69.5" cx="29" cy="69.5">
            </ellipse>
        </svg>
        <div id="Langues">
            <span>Langues</span>
        </div>
    </div>
    <div id="Group_3">
        <svg class="Path_6_A9_Path_9" viewBox="0 0 321 10.5">
            <linearGradient spreadMethod="pad" id="LinearGradientFill12" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6_A9_Path_9" d="M 0 0 L 321 0 L 321 10.5 L 195.7744140625 10.5 L 0 10.5 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4_A9_Ellipse_6">
            <linearGradient spreadMethod="pad" id="LinearGradientFill13" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4_A9_Ellipse_6" rx="29" ry="69.5" cx="29" cy="69.5">
            </ellipse>
        </svg>
        <div id="competences">
            <span>competences</span>
        </div>
    </div>
    <div id="Group_6">
        <svg class="Path_6_A9_Path_10" viewBox="0 0 321 10.5">
            <linearGradient spreadMethod="pad" id="LinearGradientFill14" x1="0.5" x2="0.6089447140693665" y1="0" y2="1">
                <stop offset="0" stop-color="#48ffaa" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#0df" stop-opacity="1"></stop>
            </linearGradient>
            <path id="Path_6_A9_Path_10" d="M 0 0 L 321 0 L 321 10.5 L 195.7744140625 10.5 L 0 10.5 L 0 0 Z">
            </path>
        </svg>
        <svg class="Ellipse_4_A9_Ellipse_7">
            <linearGradient spreadMethod="pad" id="LinearGradientFill15" x1="0.5" x2="0.5" y1="0" y2="1">
                <stop offset="0" stop-color="#00dbfd" stop-opacity="1"></stop>
                <stop offset="0.6589999794960022" stop-color="#00eba9" stop-opacity="1"></stop>
                <stop offset="1" stop-color="#69ff91" stop-opacity="1"></stop>
            </linearGradient>
            <ellipse id="Ellipse_4_A9_Ellipse_7" rx="29" ry="69.5" cx="29" cy="69.5">
            </ellipse>
        </svg>
        <div id="loisIrs">
            <span>loisIrs</span>
        </div>
    </div>





    <div id="formationHolder">
        <div id="elementFormation" *ngFor="let item of Formations; let i=index;let ilast=last;">
            <div id="Group_7">
                <svg class="Polygon_1" viewBox="0 0 83.211 93.399">
                    <linearGradient spreadMethod="pad" id="LinearGradientFill16" x1="0.24747975170612335" x2="0.5"
                        y1="0.7099449634552002" y2="1">
                        <stop offset="0" stop-color="#5dff78" stop-opacity="1"></stop>
                        <stop offset="1" stop-color="#0ef3db" stop-opacity="1"></stop>
                    </linearGradient>
                    <path id="Polygon_1"
                        d="M 41.60558700561523 0 L 83.211181640625 93.3985595703125 L 0 93.3985595703125 Z">
                    </path>
                </svg>
                <svg class="Polygon_2" viewBox="0 0 47.018 129.399">
                    <path id="Polygon_2"
                        d="M 23.50885009765625 0 L 47.01770401000977 129.3985595703125 L 0 129.3985595703125 Z">
                    </path>
                </svg>
            </div>
            <div id="Baccalaur_at_en_science_physiq">
                <span>{{Formations[i].formation}} </span><span style="color:rgba(181,12,12,1);">
                    {{Formations[i].yearsBegun}}/{{Formations[i].Last}}</span>
            </div>
        </div>

    </div>
    <div id="competenceHolder">
        <div id="elementCompetence" *ngFor="let item of Competences; let i=index;let ilast=last;">
            <div id="Group_7">
                <svg class="Polygon_1" viewBox="0 0 83.211 93.399">
                    <linearGradient spreadMethod="pad" id="LinearGradientFill16" x1="0.24747975170612335" x2="0.5"
                        y1="0.7099449634552002" y2="1">
                        <stop offset="0" stop-color="#5dff78" stop-opacity="1"></stop>
                        <stop offset="1" stop-color="#0ef3db" stop-opacity="1"></stop>
                    </linearGradient>
                    <path id="Polygon_1"
                        d="M 41.60558700561523 0 L 83.211181640625 93.3985595703125 L 0 93.3985595703125 Z">
                    </path>
                </svg>
                <svg class="Polygon_2" viewBox="0 0 47.018 129.399">
                    <path id="Polygon_2"
                        d="M 23.50885009765625 0 L 47.01770401000977 129.3985595703125 L 0 129.3985595703125 Z">
                    </path>
                </svg>
            </div>
            <div id="Baccalaur_at_en_science_physiq">
                <span> {{Competences[i].competence}}</span>
            </div>
        </div>
    </div>
    <div id="languageHolder">
        <div id="elementLanguage" *ngFor="let item of Languages; let i=index;let ilast=last;">
            <div id="Group_16">
                <div id="ARABE">
                    <span>{{Languages[i].language}}</span>
                </div>
                <div class="Group_15">

                    <svg class="Rectangle_1">
                        <linearGradient spreadMethod="pad" attr.id="LinearGradientFill24{{i}}" x1="0.012973351404070854"
                            x2="1" y1="0.5" y2="0.5">
                            <stop [attr.offset]="Languages[i].percentage/100" stop-color="#20f200" stop-opacity="1">
                            </stop>
                            <stop offset="0" stop-color="#34db1a" stop-opacity="1"></stop>
                            <stop offset="0" stop-color="#808080" stop-opacity="1"></stop>
                        </linearGradient>
                        <rect class="Rectangle_1_rect" attr.fill=" url(#LinearGradientFill24{{i}})" rx="35" ry="35"
                            x="0" y="0" width="641" height="70">
                        </rect>
                    </svg>
                    <div id="ID95_">

                        <span>{{Languages[i].percentage}}%</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="leisureHolder">
        <div id="elementLeisur" *ngFor="let item of Leisures; let i=index;let ilast=last;">
            <div id="Group_7">
                <svg class="Polygon_1" viewBox="0 0 83.211 93.399">
                    <linearGradient spreadMethod="pad" id="LinearGradientFill16" x1="0.24747975170612335" x2="0.5"
                        y1="0.7099449634552002" y2="1">
                        <stop offset="0" stop-color="#5dff78" stop-opacity="1"></stop>
                        <stop offset="1" stop-color="#0ef3db" stop-opacity="1"></stop>
                    </linearGradient>
                    <path id="Polygon_1"
                        d="M 41.60558700561523 0 L 83.211181640625 93.3985595703125 L 0 93.3985595703125 Z">
                    </path>
                </svg>
                <svg class="Polygon_2" viewBox="0 0 47.018 129.399">
                    <path id="Polygon_2"
                        d="M 23.50885009765625 0 L 47.01770401000977 129.3985595703125 L 0 129.3985595703125 Z">
                    </path>
                </svg>
            </div>
            <div id="Baccalaur_at_en_science_physiq">
                <span>{{Leisures[i].leisur}}</span>
            </div>
        </div>
        <div id="elementLeisur">
            <div id="Group_7">
                <svg class="Polygon_1" viewBox="0 0 83.211 93.399">
                    <linearGradient spreadMethod="pad" id="LinearGradientFill16" x1="0.24747975170612335" x2="0.5"
                        y1="0.7099449634552002" y2="1">
                        <stop offset="0" stop-color="#5dff78" stop-opacity="1"></stop>
                        <stop offset="1" stop-color="#0ef3db" stop-opacity="1"></stop>
                    </linearGradient>
                    <path id="Polygon_1"
                        d="M 41.60558700561523 0 L 83.211181640625 93.3985595703125 L 0 93.3985595703125 Z">
                    </path>
                </svg>
                <svg class="Polygon_2" viewBox="0 0 47.018 129.399">
                    <path id="Polygon_2"
                        d="M 23.50885009765625 0 L 47.01770401000977 129.3985595703125 L 0 129.3985595703125 Z">
                    </path>
                </svg>
            </div>
            <div id="Baccalaur_at_en_science_physiq">
                <span>Sport</span>
            </div>
        </div>
    </div>






    <svg class="NoPath___Copie__4_">
        <pattern elementId="NoPath___Copie__4__A9_Rectangle_11" id="NoPath___Copie__4__A9_Rectangle_11_pattern" x="0"
            y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%"
                href="https://cdn1.iconfinder.com/data/icons/cv-resume-1/32/3-512.png"
                xlink:href="https://cdn1.iconfinder.com/data/icons/cv-resume-1/32/3-512.png"></image>
        </pattern>
        <rect id="NoPath___Copie__4_" rx="0" ry="0" x="0" y="0" width="79" height="80">
        </rect>
    </svg>

</div>